.gridcontainer{
    
    display:grid;
    grid-template-columns:100%;
    grid-template-rows: 130px 140vh 90px;
    grid-template-areas:
    "navbar"
    "form-texto"
    "footer";
     .navbar{
    grid-area: "navbar";
    }
     .footer{
        grid-area: "footer";
    }
    .form-texto{
        grid-area:"form-texto";
    }

}