

.form-texto {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: $font-principal;
    color: white;

    &__tittle{
        font-size: 22px;
        margin-bottom: 20px;
    }

    &__controls{
        @include controls;
    }
    &__botons{
        width: 100%;
        background: #1f53c5;
        border: none;
        padding: 12px;
        color: white;
        margin: 16px 0;
        font-size: 16px;
    }
}
