.gridcontainer-index{
    
    display:grid;
    grid-template-columns:100%;
    grid-template-rows: 130px auto 90px;
    grid-template-areas:
    "navbar"
    "section-index"
    "footer-index";
     .navbar{
    grid-area: "navbar";
    }
     .footer{
        grid-area: "footer-index";
    }
    .section-index{
        grid-area:"section-index";
    }

}
.cajaHover{
    &__div{
        &__link:hover{
        transform: scale(1.1);
    }
}
}