.gridcontainer-index{
    
    display:grid;
    grid-template-columns:100%;
    grid-template-rows: 120px auto 90px;
    grid-template-areas:
    "header-index"
    "section-index"
    "footer-index";
     .header{
    grid-area: "header-index";
    }
     .footer{
        grid-area: "footer-index";
    }
    .section-index{
        grid-area:"section-index";
    }

}