.gridcontainer-loscampeones{
    
    display:grid;
    grid-template-columns:100%;
    grid-template-rows: 130px auto 90px;
    grid-template-areas:
    "navbar"
    "section-loscampeones"
    "footer-loscampeones";
     .navbar{
    grid-area: "navbar";
    }
     .footer-loscampeones{
        grid-area: "footer-loscampeones";
    }
    .section-loscampeones{
        grid-area:"section-loscampeones";
    }

}

.title{
    font-size: 32px;
    text-align: center;
    margin-top: 80px;
    font-family: $font-principal;
}
.messiCopa{
    text-align: center;
}
.section-loscampeones{
    font-family: $font-principal;
    .container-players{
        margin: 0 auto;
        width: auto;
        &__p{
            margin-top: 50px;
            width: 90%;
            margin: 0 auto;
        }
        &__div{
            width: 90%;
            margin: 0 auto;
            text-align: center;
        }
        span{
            text-align: end;
            color: #fe5000;
        }
        p{
            font-size: 16px;
        }
    }
    
}
@media (max-width: 1080px){
    .messiCopa{
        img{
            width: 75%;
        }
        .container-players{
            img{
                width: 75%;
            }
        }
    }
}

@media(min-width:310px) and (max-width:710px){
    .container-players{
        &__p{
            width: 95%;
            margin: 0 auto;
        }
        &__div{
            width: 95%;
            margin: 0 auto;
                img{
                    width: 100%;
                }
            }
        }
    }


