@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

body{
    font-family: "Poppins", sans-serif;
}
.section__h1 {
    font-size: 32px !important;
     
}
.section__p{
    font-size: 22px !important;
}
.sectioncss{

    font-size: 18px;
}

.caja__p{
    font-family:"Poppins", sans-serif ;
}

